<!--<p>view-service-provider-history works!</p>-->

<div class="table-responsive">
    <table class="table table-hover table-fixed">
        <caption>List of Served Services</caption>
        <!-- <thead style="position: sticky; top: 0;" class="thead-dark"> -->
        <thead>
            <tr>
                <th class="header" scope="col">Order ID</th>
                <th class="header" scope="col">Order Date</th>
                <th class="header" scope="col">Order Count</th>
                <th class="header" scope="col">User ID</th>
                <th class="header" scope="col">UFirst Name</th>
                <th class="header" scope="col">ULast Name</th>
                <th class="header" scope="col">Mobile number</th>
                <th class="header" scope="col">Service Type</th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of viewHistory">
                <th scope="row">{{p.orderid}}</th>
                <td>{{p.order_date}}</td>
                <td>{{p.order_count}}</td>
                <td>{{p.user.userid}}</td>
                <td>{{p.user.first_name}}</td>
                <td>{{p.user.last_name}}</td>
                <td>{{p.user.mobile_no}}</td>
                <td>{{p.servicepro.servicedesc}}</td>
            </tr>
        </tbody>
    </table>
</div>