
<div class="row">
    <div *ngFor="let s of catr" class="col-md-4" style="padding-bottom: 10px;">
      <form>
        <div class="card shadow rounded ">
          <div class="card-body">
            <h2 class="card-title">{{s.first_name}}</h2>
            <h6 class="card-text">{{s.serviceName}}</h6>
            <h6 class="card-text">{{s.charges | currency:'INR'}}</h6>
            <p class="card-text">{{s.servicedesc}}</p>
            <label for="enqDate">Select Event Date</label>
            <input style="float: right;" type="date" id="enqDate" name="enqDate" #enqDT>
            <button class="btn btn-primary" value={{s.serviceproviderid}}
              (click)="sendEnquiry(s,enqDT.value)">Enquire</button>
          </div>
        </div>
      </form>
    
    </div>
  </div>